*

!/bin
!/bin/**
!/cmake
!/cmake/**
!/code-style
!/code-style/**
!/src
!/src/**
!/third_party
!/third_party/**

!/.gitignore
!/.clang-format

!/conanfile.py
!/CmakeLists.txt
!/CMakeSettings.json
!/README.md